doctype html
html 
    head 
        title Guessing Game 
    body 
        ul
            each g in game.guesses
                li #{g}
                    
        a(href="/history") Back to game history!