extends layout

block content
    h1 Welcome! 
    if error
        p Whoops - #{error}
    form(action='/login', method='post')
        div
            input(type='text', name='username', placeholder='Username')
        div     
            input(type='password', name='password', placeholder='Password')
        div     
            input(type='submit', value='Login')

    p Don't have an account?  Please <a href='/signup'>signup</a>!